<ion-header>
  <ion-toolbar>
    <ion-title>
      Producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>MEMORIAS USB</ion-card-subtitle>
      <ion-card-title>Memorias Tipo Tarjeta</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img src="http://www.rempe.com.co/storage/0eaec57048e91db696258c37c146fe27_file.png"></ion-img>
      Adicionar al Carrito de Compras
    </ion-card-content>
    
  </ion-card>

</ion-content>
